:root {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-content {
  max-width: 600px;
  margin: auto;
}

* {
  margin-bottom: 0.5rem;
}
